body{
	height:1200px;
}

#kfc{
  background-color:white;
  margin: 0 auto;
  width: 800px;
  position: relative;
}
#FKCHeader{
  display: block;
  padding-top: 30px;
  padding-left: 30px;
  height: 150px;
}
#FKCHeader h1{
  position: absolute;
}
#FKCHeader h1 a{
  display: block;
  color: transparent;
  width: 250px;
  height: 150px;
  background: url(../../images/kfclogo.png) no-repeat;
  background-size: contain;
}

.tooltip-text{
	background-color: rgba(0,0,0,0.6);
	color:white;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1041;
	padding: 10px;
	display: none;
}

.spot{
  position: absolute;
  right: 15px;
  top: 75px;
}

.spot ul li{
  display: inline-block;
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid rgb(170, 203, 195);
}

.spot ul li:first-child{
  border: none;
}

#category{
  font-size: 0;
  position: relative;
}


#category ul li{
  position: relative;
  display: inline-block;
  width: 129.1px;
  height: 128.5px;
  margin-right: 5px;
}

#category ul li > a{
	display: block;
	height: 128.5px;
}

#category ul li p{
  position: absolute;
  width: 150px;
  text-align: center;
  bottom: 10px;
  display: block;
  font-size: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.categoryColorRed{
  background-color: rgb(204,55,46);
  color: white;
}

.categoryColorWhite{
  background-color: rgb(170, 203, 195);
}

.categoryColorWhite > p{
	color: red;	
}

.currentSelect{
  background-color: white;
}

.categoryImg{
  position:absolute;
  width: 80px;
  height: 80px;
  left: 50%;
  transform:translateX(-50%);
  top: 10px;
}

/* 메뉴 영역 */

#menuSection{
  height: 358px;
  font-size: 0;
  margin: 5px 0 5px 0;
}

#menuSectionContainer{
	overflow: hidden;
}
#menuSectionContent:after{
	content: '';
	display: block;
	clear: both;
}

#menuSectionContent > div{
	float: left;
	width: 800px;
	height: 365px;
}

.menu{
  text-align:center;
  width: 265px;
  height: 121.5px;
  display: inline-block;
  position: relative;
}

.menuImg{
  width: 70px;
  height: 70px;
}

.menuContent > P{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.menuContent > P:last-child{
	bottom: 10px;
}

.menu p{
  display:block;
  font-size: 15px;
  text-align: center;
  line-height: 30px;
}

/* 페이징 영역 */

#pagecontainer *{
  display: inline-block;
}

#pagecontainer{
  position: relative;
  padding: 5px 10px;
}

.btnPage{
  width: 150px;
  height: 50px;
  line-height:50px;
  text-align:center;
  border-radius: 5px;
  background-color: gray;
  border-color: gray;
}

#pageCircleGroup{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.pageCircle{
  width: 15px;
  height: 15px;
  color: transparent;
  border-radius: 100%;
  margin: 0 5px 0 5px;
  background-color: rgb(179,206,207);
}

.pageActive{
  background-color: rgb(205,119,141);
}


#btnRight{
  position: absolute;
  right: 10px;
}

.btnActive{
	background-color: rgb(218, 58, 44)!important;
  	border-color: rgb(218, 58, 44)!important;
}

/*메뉴 테이블*/
#menuTableSection{
	height: 160px;
}

#menuTableSection > div{
	float:left;
	background-color: rgb(184, 213, 218);
}

.scrollActive{
	color:white !important;
	border-color: white !important;
}

#tableSize{
  height: 160px;
  width : 700px;
  overflow : hidden;
  margin-left: 10px;
}

#menuTableHead{
	font-size: 0;
}

#menuTableHead>div{
  display:inline-block;
  font-size:16px;
  text-align:center;
  padding: 10px 0px 10px 0px;
  border-bottom: 2px solid white;
  background-color: rgb(184, 213, 218);
  font-weight: bold;
}

#menuTableHead>div:nth-child(1){
  width: 450px;
}

#menuTableHead>div:nth-child(2){
	width: 100px;
}

#menuTableHead>div:nth-child(3){
	width: 150px;
}

#menuTableContents>div>div{
	position: relative;
	display: table-cell;
	vertical-align:middle;
	text-align: center;
}

#menuTableContents>div>div:nth-child(2){
	width: 100px;
	height: 31px;
}

#menuTableContents>div>div:nth-child(3){
	width: 150px;
	height: 31px;
}
#menuTableContents>div>div:nth-child(1) p{
  text-align:left;
}

.textarea{
  width:450px;
  padding-left: 50px;
}

.textarea p:last-child{
  color: rgb(141, 170, 173);
  font-size: 12.2px;
}

.textarea p:first-child{
  color : black;
  font-size: 19px;
}

.count *{
  font-size:16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px 0 5px;
}

#menuTableBody{
	font-size:0;
	height: 124px;
	overflow: hidden;
	position: relative;
}
#menuTableContents{
	position: absolute;
}
.count{
  width:100px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.icon-minus, .icon-plus{
  color:white;
}

.icon-minus{
  background-color: grey;
}

.icon-plus{
  background-color: rgb(218, 58, 44	);
}

.iconCombination{
  width: 20px;
  height: 20px;
  text-align: center;
}

.pricePos > p{
  font-size:16px;
}

.pricePos{
  position: absolute;
  left: 50%;
  top: 50%;
  transform:translate(-50%, -50%);
}

.price > .icon-cancel{
  width: 20px;
  height: 20px;
  background-color: rgb(96, 128, 131);
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  font-size: 16px;
}

#scrollGroup{
	width: 80px;
	height: 160px;
}

#blank{
	height: 38px;
	border-bottom: 2px solid white;
}

#scrollContatiner{
	margin: auto 0;
}

#scrollContatiner{
	height: 122px;
	position: relative;
}

#scrollContents{
	position: absolute;
	top: 50%;
	left: 50%;
	transform : translate(-50%, -50%);
}

#scrollUp{
	margin-bottom: 10px;
}

.kfcMainScroll{
	color:gray;
	width:50px;
	height:50px;
	font-size: 30px;
	border: 1px solid gray;
	border-radius: 100%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

#menuTable tbody{
  background-color: rgb(184, 213, 218);
}

#menuTable tbody tr{
  height: 31.2px;
}

/*주문*/

#ordercontainer {
  padding: 10px 10px 10px 10px;
}

#orderLeft, #orderRigth{
  display: inline-block;
}

.orderCount{
  position: relative;
  background-color: rgb(184, 213, 218);
  width: 250px;
  height: 60px;
  border-radius: 5px;
}

.orderCount:nth-child(1){
  margin-bottom: 5px;
}

.string{
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.number{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

.orderCount p{
  display: inline-block;
}

#ordercontainer{
  position: relative;
}

#orderRigth div{
  position: absolute;
  display: inline-flex;
  border-radius: 5px;
  font-size: 48px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#allCancelBtn{
  width: 130px;
  height: 125px;
  bottom:8%;
  right: 390px;
  background-color: rgb(105,132,137);
  color: white;
}

#cuponBtn{
  width: 180px;
  height: 125px;
  bottom:8%;
  right: 200px;
  background-color: rgb(221, 144, 89);
  color: white;
}

#orderBtn{
  width: 180px;
  height: 125px;
  bottom:8%;
  right: 10px;
  background-color: rgb(218, 58, 44);
  color: white;
}

.hide{
  position: absolute;
  left: -1000px;
}


.modal-header { /* 모달 헤더 */
	height: 15%;
	/* border: none; */
    padding: 50px;
    border-top: 10px solid red;
    text-align: center;
}

.img-responsive { /* 이미지 크기 */
	width: 150px;
	height: 150px;
}

.modal-body { /* 모달 바디 */
	height: 65%;
	padding: 40px;
}

.menu-container { /* 메뉴이미지, 메뉴 이름, 메뉴 가격 묶어놓은 박스 */
	width: 150px;
	height: 230px;
}

.menuName{ /* 메뉴 이름 */
	text-align: center;
}

.menuPrice{ /* 메뉴 가격 */
	color: red;
	text-align: center;
}

.modal-footer {  /* 메뉴 푸터 */
	/* border: none; */
	height: 15%;
	padding: 50px;
	text-align: center;
}




/* 박스/세트/단품 선택 모달 */

/* 헤더 설정 */
#selectModeContainer div{
	float: left;
	width: 500px;
}

#selectModeContainer img{
	width: 148px;
	height: 148px;
}

#selectModeContainer h1{
	text-align: left;
	font-size: 30px;
	border-bottom: 2px solid red;
	padding-bottom: 15px;
	margin-bottom: 15px;
}

#selectModeMainDesc{
	display: block;
	text-align: left;
}


/* 바디 설정 */
.selectModeBodyContainer{
	height:160px;
	border-bottom: 1px dashed rgb(178,208,208);
	margin-bottom: 30px;
	position: relative;
}
.selectModeBodyContainer div{
	float: left;
}

.selectModeBodyContainer img{
	width: 148px;
	height: 148px;
}

.selectModeCheckBox{
	width:58px;
	height:58px;
	font-size: 70px;
	border: 5px solid gray;
	border-radius: 100%;
	font-weight: normal;
	color: gray;
	display: inline-flex;
 	justify-content: space-between;
  	align-items: flex-end;
  	margin-right: 20px;
  	position:absolute;
  	top: 50%;
  	left: 0;
  	transform: translateY(-50%);
}

#selectedMode{
	border-color: red;
	color: red;
}

.selectModeCheckBox p {
	color: transparent;
}

.selectModeBodyContent > *{
	width: 410px;
	position: absolute;
	left: 15%;
}

.selectModeBodyContainer img{
	position: absolute;
	right: 0;
}

.selectModeBodyContent * {
	text-align: left;
}

.selectModeBodyContent h2{
	font-size: 30px;
	font-weight: bold;
	top: 20%;
	transform: translateY(-50%);
}

.selectModeCompose{
	top: 35%;
}

.selectModeMenuGroup{
	bottom: 35%;
	transform: translateY(50%);
}

.selectModeCompose P{
	display:inline-block;
	border: 1px solid red;
	color: white;
	background-color: red;
	border-radius: 5px;
	padding: 5px 15px 5px 15px;
}

.selectModePrice{
	color: red;
	font-size: 20px;
	bottom: 10%;
}

/* 결제 내역 모달 */
#paymentDetailsContent{
	min-height: 0;	
}

#paymentDetailsHeader{
	position: relative;
}

#payment-header{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
}

#payment-header > *{
	float: left;
	width: 191.109px;
	height: 143px;
	line-height: 143px;
}

#payment-header > div > p{
	color: transparent;
}

#payment-header > div{
	font-size: 70px;
	
}

#payment-header > p{
	font-size: 30px;
	font-weight: bold;
}

#paymentDetailsBody{
	min-height: 300px;
}

#paymentDetailsBody > div{
	height: 90px;
	border: 1px solid black;
	position: relative;
}

#paymentDetailsDes{
	position: absolute;
	top: 50%;
	left: 10px;
	transform: translateY(-50%);
	font-size: 30px;
	font-weight: bold;
}

#paymentDetailsMoney{
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	font-size: 30px;
	font-weight: bold;
	color: red;
}

/* 호버처리 */
.menu, #scrollUp, #scrollDown, #allCancelBtn, #cuponBtn, #orderBtn:hover {
	cursor: pointer;	
}
