/* 모달 -식사장소*/
.modal-content { /* 모달 전체 */
   border-radius: 0px;
   width: 750px;
   height: 900px;
}
.modal-header { /* 모달 헤더 */
   height: 15%;
   /* border: none; */
    padding: 50px;
    border-top: 10px solid red;
    text-align: center;
}

.modal-title { /* 모달 제목의 폰트 */
    font-weight: bold;
    font-size: xx-large;
}


.img-responsive2 { /* 이미지 크기, 가운데 고정 */
   display:block;
   margin-left: auto;
     margin-right: auto;
   width: 200px;
   height: 200px;
}

.modal-body { /* 모달 바디 */
   height: 65%;
   padding: 40px;
}

.place-container { /* 메뉴이미지, 메뉴 이름, 메뉴 가격 묶어놓은 박스 */
   float:left;
   width: 314px;
   height: 503px;
   background-color: rgb(204,55,46);
   border-radius: 10px;
}

.placeHereKr{ /* 매장식사 한국어 */
   
   text-align: center;
   font-size: 50px;
   color:white;
}

.placeHereEng{ /* 매장식사 영어*/
   padding-top:20px;
   padding-bottom:10px;
   text-align:center;
   color:white;
}
.multiProvide{ /* 다회용 제공 */
   color: red;
   text-align: center;
   color:white;
}

.img-responsive3 { /* 이미지 크기, 가운데 고정 */
   display:block;
   margin-left: auto;
     margin-right: auto;
   width: 180px;
   height: 180px;
}

.place-container2 { /* 메뉴이미지, 메뉴 이름, 메뉴 가격 묶어놓은 박스 */
   float:right;
   width: 314px;
   height: 503px;
   background-color: rgb(204,55,46);
   border-radius: 10px;   
}

.toGoKr{ /* 포장주문 */
   
   text-align: center;
   font-size: 50px;
   color:white;
}
.toGoEng{ /* 포장주문 영어*/
   padding-top:20px;
   padding-bottom:60px;
   text-align:center;
   color:white;
}

.throwawayProvide{ /* 일회용 제공 */
      
   text-align: center;
   color:white;
}


.modal-footer {  /* 메뉴 푸터 */
   /* border: none; */
   height: 15%;
   padding: 50px;
   text-align: center;
}

.btn {  /* 이전 버튼 */
   width: 220px;
   height: 60px;
   font-size: large;
    font-weight: bold;
}


/* 햄버거박스 사이드 메뉴 */

/* 모달 전체 */
#hamburgerBoxContent {
	border-radius: 0px;
	width: 750px;
	min-height: 1050px;
}

/* 모달 헤더 */
#hamburgerBoxHeader {
	position:relative;
	min-height: 200px;
	border: none;
	padding-top: 50px;
	border-top: 10px solid red;
	border-bottom: 2px dashed gray;
	text-align: left;
}

#hamburgerBoxImg img{
	float: left
}

#hamburgerBoxCount{
	position: relative;
	left: -20%;
	top: 15px;
}

#hamburgerBoxMoney{
	position: absolute;
	right: 10%;
	top:62%;
}

#hamburgerBoxMoney > div, #hamburgerBoxMoney > p{
	display: inline-block;
}

#hamburgerBoxMoney > div{
	width:25px;
	height:25px;
	border: 1px solid red;
	background-color: red;
	color: white;
	border-radius: 100%;
	display: inline-flex;
    justify-content: center;
    align-items: center;
}

#hamburgerBoxMoney > div > p{
	position: absolute;
	left: -1000000000px;
}



.img-hamburgerBoxFix { /* 이미지 크기, 가운데 고정 */
   display:block;
   margin-left: auto;
   margin-right: auto;
   width: 150px;
   height: 100px;
}

/* 모달 제목의 폰트 */

#hamburgerBoxBody {
	min-height: 690px;
	padding: 40px;
	text-align: center;
}

#menuSet {
	display: inline-block;
	margin:5px;
	width: 150px;
	height: 200px;
}

#menuSet > div p{
	display: block;
}

.img-responsive {
	display:inline-block;
	margin-left: auto;
	margin-right: auto;
	width: 150px;
	height: 180px;
}

#hamburgerBoxButton {
   position: absolute;
   top: 120%;
   transform:translateX(-50%);	
   width: 150px;
   height: 50px;
   font-size: 20px;
   font-weight:bold;
   background-color:red;
   color:white;
   border: 1px solid transparent;
   border-radius: 4px;
	
}

#hamburgerBoxBody{
	position: relative;
}

#hamburgerBoxBodyContainer{
	position: absolute;
	top: 30%;
	transform:translateY(-30%);
}

/* 모달 푸터 */
#hamburgerSideFooter {
	min-height:110px;
	border: none;
	height: 160px;
	padding: 50px;
	text-align: center;
}

/* 취소, 완료 버튼 */
.modal-footer > .btn {
	width: 220px;
	height: 60px;
	font-size: large;
	font-weight: bold;
}

/* 취소 버튼 */
.btnCancle {
	background-color: lightgray;
	color: white;
}

/* 완료 버튼 */
.btnComplete {
	background-color: red;
	color: white;
}


