@charset "UTF-8";

 .width800height1200{width:800px;height:1200;background-color: white;padding:0px;} 

.width300{width: 300px; float: left;}
.width50{width: 50%; height: 100%; float: left;}
.btn-red{background-color: red; margin: 20px; color: white; border-radius: 5px;}
.width-auto{width: auto;}
/* .fontSize50px{font-size: 40px;} */
/* .contents-header{border:8px solid #990012;height:250px;text-align: center;} */
.width110px{width:110px;height:130px;}

ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 50px; /*--Set height of tabs--*/
	width: 100%;
	background-color: #FFEBCD;
	border-bottom: 1px solid white;
}

ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 50px;
	/*--Subtract 1px from the height of the unordered list--*/
	line-height: 50px; /*--Vertically aligns the text within the tab--*/
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background: #FFEBCD;
	border-radius: 10px 10px 0 0;
}

ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	/*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
}

html ul.tabs li.active, html ul.tabs li.active a:hover {
	/*--Makes sure that the active tab does not listen to the hover properties--*/
	background: #fff;
	/*--Makes the active tab look like it's connected with its content--*/
	border-bottom: 1px solid #fff;
}

/*Tab Conent CSS*/
.tab_container {
	border: 1px solid white;
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left;
	width: 100%;
	background: #fff;
	height:550px;
}

.tab_content {font-size: 1.2em;height: 135px;
}
.menu {width: 50%;float: left;height: 140px;}
.menu-img {width: 45%;float: left;}
.menu-text {width: 55%;float: left;padding-top: 28.5px;font-size: 25px;}
.menu-price {color: red;}

.table-center{width: 100%; text-align: center; background-color: #FFF8DC; font-size: 15px;}
.tr-center{height: 50px; background-color: #F0FFFF; text-align: center; padding-top: 12px; font-size: 20px;}
.td-red{text-align: right; color: red;padding-right: 50px;}
.height60{height: 60px;}
.height100{height: 100%;}
.border-width60px{border: 1px solid black; height: 100%; width: 60px; float: left;}
.margin-top10px{height: 100%; text-align: center; margin-top: 10px;}
.btn-fontSize20px{height: 80%; width: 80%; font-size: 20px; background-color: white; border-radius: 12px;}

/* 모달 */
#viewModelContent {font-size: 14px;font-weight: bold;margin: 10px 0px 0px 0px}
ul.modal-tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 50px; /*--Set height of tabs--*/
	width: 100%;
	background-color: #E5E4E2;
	border-bottom: 1px solid white;
}

ul.modal-tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 50px;
	/*--Subtract 1px from the height of the unordered list--*/
	line-height: 50px; /*--Vertically aligns the text within the tab--*/
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background: #E5E4E2;
	border-radius: 10px 10px 0 0;
}

ul.modal-tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	/*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
}

html ul.modal-tabs li.active, html ul.modal-tabs li.active a:hover {
	/*--Makes sure that the active tab does not listen to the hover properties--*/
	background: #fff;
	/*--Makes the active tab look like it's connected with its content--*/
	border-bottom: 1px solid #fff;
}
.modalDotDiv{position: absolute;bottom: 10px;left: 0%;width: 100%;height: 20px;text-align: center}
.modalPageDot{width: 10px;height: 10px;border-radius: 20px;background-color: gray;display: inline-block;margin:5px;}
    
/*Tab Conent CSS*/
.modal-tab_container {border: 1px solid white;border-top: none;overflow: hidden;clear: both;float: left;width: 100%;background: #fff;padding: 10px 50px 10px 50px;}
.modal-tab_content {padding: 20px;font-size: 1.2em;}
.modal-header {background-color:#d7f9fd;}
.modal-body {padding: 0px;}
.modal-footer {padding: 0px;text-align: center; height: 80px;}
.modal-float{float: left;}
.modal-center{text-align: center;}
.modal-red{color: red;}
.modalFooter-float{width:33%;height:100%;float: left;padding-top: 7px;}
.modalfooter-color{background-color: #FFEBCD; width: 80%; margin-left: 40px; height: 80%; padding-top: 8px;}
.modalFooter-width33{width:33%;height:100%;float: left;}
.modalFooter-btn1{width:80%; height:75%;margin-top: 7px;border-radius: 10px;background-color: white;font-size: 20px;}
.modalFooter-btn2{width:80%; height:75%;margin-top: 7px;border-radius: 10px; background-color:#d7f9fd;;font-size: 20px;}
.modal-height700px{height: 700px;}
.modal-fontSize15px{font-size:15px;}
.margin_battom16px{margin-bottom: 16px;}

/* 단품, 세트 선택 모달 */
#modalName-align{top: 40%;transform:translateY(-50%);}
#modalName-content {position: relative;border: solid 8px rgba(255, 255, 255, 0.5);border-radius: 10px;}
#modalName-header {position: relative;background-color: #d7f9fd;border: none;}
#modalName-headerTitle {font-weight: bold;font-size: 25px;text-align: center;}

/* 취소버튼 */
.modalName-closeBtnDiv {height: 35px;width: 35px;border-radius: 7px;border: solid 2px #24a3f7;background-color: #d7f9fd;position: absolute;top: 50%;right: 15px;transform: translateY(-50%);}
.modalName-closeBtn {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);font-size: 35px;color: #24a3f7;}
/* 단품, 세트 선택  */
#modalName-body {position: relative;width:584px; height: 200px;}
#modalName-body-topping {position: relative;width:584px; height: 200px;}
.modalName-container {position: absolute;top: 40%;left: 50%;transform: translate(-50%, -50%);margin-top: 10px;}

.modalName-container div {text-align: center; display: inline-block;}

/* 이미지 */
.modalName-container img {width: 90px;}

/* 폰트 */
.modalName-container div p {font-size: 20px;font-weight: bold;}
#modalName-Price {color: red;}
.modalName-select {border: solid 2px #ffa33c;border-radius: 10px;width: 120px;height: 120px;padding: 6px;margin: 0px 10px 15px 10px;}
.modalName-container {height: 160px;}

.helpIcon {
	width: 40px;
	height: 40px;
	display: inline-block;
	border: 1px solid black;
	border-radius: 100%;
	font-size: 25px;
	display: inline-flex;
  	justify-content: center;
  	align-items: center;
  	position: relative;
  	margin: 5px 5px 5px 10px;
}

.helpIcon > p{
	width:60px;
	text-align:center;
	font-size: 15px;
	position: absolute;
	bottom: -95%;
}

/* 내용 하단 이모티콘 */
.margin-top10px{height: 100%; text-align: center; margin-top: 10px;}
.btn-radius12px{height: 80%; width: 80%; font-size: 20px; background-color: white; border-radius: 12px;}
.btn-backColor{height: 80%; width: 80%; font-size: 20px; background-color: #F9A7B0; border-radius: 12px;}
.btn-left{position: absolute;left: 0%;top: 45%;height: 85px;width: 35px;border-radius: 0 10px 10px 0;border: 0px;color: white;background-color: #B6B6B4;}
.btn-right{position: absolute;right: 0%;top: 45%;height: 85px;width: 35px;border-radius: 10px 0 0 10px;border: 0px;color: white;background-color: #B6B6B4;}
.up-downDiv{display: inline-block;width: 15px;height: 25px;font-size: 0;border: 0.5px solid #B6B6B4;border-radius: 3px;}
.btn-up{display: inline-block;height: 49%;width: 100%;font-size: 10px;vertical-align: middle;margin: 0%;padding: 0%;border: none;}
.btn-down{display: inline-block;height: 49%;width: 100%;font-size: 10px;vertical-align: middle;margin: 0%;padding: 0%;border: none;}
.number{display: inline-block;}
.height25px{height:25px;}

.margin-right{margin: 0 30px 0 10px;}

/* 토핑모달 */

.modalName-container-topping {position: absolute;top: 10%;left: 50%;transform: translate(-80%, -50%); display:inline-block;text-align:center;}
.toppingMenuName{display:block;font-size: 20px;font-weight: bold;margin-left: 90px;}
.toppingPrice{display:block;font-size:x-large;font-weight:bold;display:inline-block;color:red;}
.width80{width: 80%;top: 52%;}

.padding-top20px{display:inline-block;width: 100%;}
.padding-top20px > div > img{width:100px;}
.width100{width:100%; text-align:center;}
#topping-modal-footer{height:60px;}
.imgWidth{width:100px;}
.imgWidth>img{width:100%;}
.width100{width:100%;display:inline-block;}
.topping-btn{margin:5px; background-color: white; font-size:x-large; border:1px solid skyblue; border-radius:5px;padding:5px;}
.topping-btn:hover{background-color:skyblue;}
.toppingCheck{height: 70px;width: 70px;position: absolute;padding: 0%;left: 15px;top: 10px;border-radius: 100%;background-color: gray;opacity: 70%;}
.toppingCheckNumber{position: absolute;left: 33px;top: 15px;font-size: 50px;color: white;}
.relative{position:relative;}
.toppingCansle{position: absolute;top: 0px;right: 0;width: 25px;height: 25px;font-size: 20px;background-color: #38ACEC;color: white;border-radius: 30px;font-weight: 700;}

/* 페이징 */
.pageDot{width:15px;height:15px;background-color:gray;border-radius: 15px;display: inline-block;}
.dotDiv{bottom: 0%;position: absolute;bottom: 0%;width: 100%;text-align: center;}
.pageActive{background-color:red;}