@charset "UTF-8";

.width800height1200{width:800px;height:1200;}

.contents-header{border:8px solid #990012;height:250px;text-align: center;}
.fontSize50px{font-size: 40px;}

.border-height420px{width:100%; border-top:0.5px solid #E5E4E2;border-bottom:0.5px solid #E5E4E2;height: 420px;}
.border-height400px tr {border:0.5px solid #E5E4E2;font-size: 20px;}
.border-height400px thead{background-color: #E5E4E2; height:500px;}
.border-height400px th{font-size: 25px;text-align: center;}
.center{text-align: center;}
.right{text-align: right;}

.table-border{border:1px solid gray; width:100%;height: 80px;}
.table-border tr{border:1px solid gray; }


.helpIcon {
	width: 40px;
	height: 40px;
	display: inline-block;
	border: 1px solid black;
	border-radius: 100%;
	font-size: 25px;
	display: inline-flex;
  	justify-content: center;
  	align-items: center;
  	position: relative;
  	margin: 10px 5px 10px 10px;
}
.helpIcon > p{width:60px;text-align:center;font-size: 15px;position: absolute;bottom: -95%;}

.table-border {border-top:0.5px solid #E5E4E2; width:100%;border-bottom:1px solid #E5E4E2;}
.table-border tr {border:0.5px solid #E5E4E2;font-size: 20px;}


/* 페이징 */
#pagecontainer *{display: inline-block;}
#pagecontainer{position: relative;padding: 5px 10px;}
.btnPage{width: 100px;height: 40px;border-radius: 5px;background-color: gray;color: white;}
#pageCircleGroup{position: absolute;left: 45%;top: 50%;transform: translate(-50%, -50%);}
.pageCircle{width: 15px;height: 15px;color: transparent;border-radius: 100%;margin: 0 5px 0 5px;background-color: gray;}
.pageActive{background-color: red;}
#btnRight{position: absolute;right: 10px;}

/* 오른쪽 테이블 */
.outside-div{width: 100%;font-size: 0px;border: 1px solid #E5E4E2;border-radius: 7px;margin: 10px 0 10px 0;height:60px;}
.insid-div_left{display: inline-block;font-size: 35px;text-align: left;width: 50%;padding: 5px 0 0 5px;}
.insid-div_right{display: inline-block;font-size: 35px;text-align: right;width: 49%;color:red;padding: 0 5px 0 0;}

.outside-div2{border-top: 1px solid #E5E4E2;border-bottom: 1px solid #E5E4E2;font-size: 0;height: 40px;}
.insid-div_left2{font-size: 20px;display: inline-block;width: 50%;}
.insid-div_right2{font-size: 20px;display: inline-block;width: 49%;text-align: right;}

.outside-div3{background-color: #E5E4E2;}
.insid-div_left3{font-size: 20px;display: inline-block;width: 50%;}
.insid-div_right3{font-size: 20px;display: inline-block;width: 49%;text-align: right;}
.height100px{height: 100px;}
.height100{height: 100%;}

.subtitle{height: 60px;font-size: 18px;background-color: #990012;border-top: #D1D0CE;border-bottom: #D1D0CE;padding:18px 0 0 15px;color:white;}

.img-inline_block{display: inline-block;}
.img-3size{width:32.5%;height: 200px;}
.img-2size{height:100px;}
.img-vertical{vertical-align: middle;width: 32%;}

.border-right{border-right: 1px solid gray; width: 49%;}
.border-red{border: 2px solid red; padding: 5px;}
.width49{width: 49%;}

/* 결제 취소, 결제 완료, 카드 승인 취소 모달 */
#orderListMsgModal-align{top: 40%;transform:translateY(-50%);}

#orderListMsgModal-content {position: relative;border: solid 8px rgba(255, 255, 255, 0.5);border-radius: 10px;}

/* modal-header */
#orderListMsgModal-header {position: relative;background-color: #ecfef4;border: none;}

#orderListMsgModal-headerTitle {font-weight: bold;font-size: 25px;text-align: center;}

/* modal-body  */
#orderListMsgModal-body {height: 150px;}

/* 폰트 */
#orderListMsgModal-body p {font-size: 22px;}

/* modal-footer  */
#orderListMsgModal-footer {position: relative;height: 120px;border: none;}

/* 버튼 */
#orderListMsgModal-footer button {
	width: 134px; /* 수정 필요 */
	height: 55px;
	border: solid 1px #cdcccd;
	border-radius: 10px;
	display: inline-block;
    margin: 0px 5px 0px 5px;
	font-size: 20px;
	font-weight: bold;
}

.orderListMsgModal-btnCancle {background-color: white;}

.orderListMsgModal-btnContainer {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}

/* 하단의 이모티콘 */
.margin-top10px{height: 100%; text-align: center; margin-top: 10px;}
.btn1{height: 80%; width: 80%; font-size: 20px; background-color: white; border-radius: 12px;}
.btn2{height: 80%; width: 80%; font-size: 20px; background-color: #F9A7B0; border-radius: 12px;}
