
.icon-right-open:before { content: '\e800'; } /* '' */
.icon-cog:before { content: '\e804'; } /* '' */
.icon-list:before { content: '\e805'; } /* '' */
.icon-chart-area:before { content: '\f1fe'; } /* '' */