@charset "UTF-8";

/* / 모달 공통사항 / */

/* / 모달 전체 / */
#unitListModal-content {
	width: 655px;
    border: none;
    font-size: 15px;
}

/* / 모달 헤더 / */
#unitListModal-header {
    min-height: 50px;
    border: none;
    text-align: center;
    background-color: #1cc88a;
}

/* / 모달 제목의 폰트 / */
#unitListModal-title {
    color: white;
    font-size: 17px;
	font-weight: bold;
}

#unitListModal-body {
	min-height: 200px;
	padding: 40px;
	text-align: center;
}

/* / 모달 푸터 / */
#unitListModal-footer {
	/* border: none; */
	height: 100px;
	text-align: center;
}

/* / 취소, 완료 버튼 / *//* 
#unitListModal-footer > .btn {
	width: 220px;
	height: 60px;
	font-size: large;
	font-weight: bold;
}

/ 취소 버튼 /
#unitListModal-footer > .btnCancle {
	background-color: lightgray;
	color: white;
} */

/* / 완료 버튼 / */
#unitListModal-footer > .btnComplete {
	background-color: red;
	color: white;
}

/* 구성 추가 모달 */
.adminModal-unitListCheck > input, p {
	display: inline-block;
    margin: 0;
	vertical-align: middle;
}

/* 리스트 테이블 */
/* 테이블 선 */
.unitListModal-unitList > table, td, th {
	border: 1px solid lightgray;
    padding: 5px 10px!important;
}

/* 테이블 및 셀 크기 */
.unitListModal-unitList {
	width: 100%;
}

.unitListModal-unitList > thead > th {
	padding: 0!important;
}

.unitListModal-unitList > thead > tr > th:first-child {
	width: 10%!important;
}

.unitListModal-unitList > thead > tr > th:nth-child(2) {
	width: 18%!important;
}

.unitListModal-unitList > thead > tr > th:nth-child(3) {
	width: 45%!important;
}

.unitListModal-unitList > thead > tr > th:last-child {
	width: 26%!important;
}

.unitListModal-unitList > tbody > tr > td:nth-child(3) {
	text-align: left!important;
}

/* 수정/적용 버튼 */
.adminMenu-unitListBtnContainer, .adminMenu-footerBtnContainer {
	width: 100%;
    text-align: center;
    margin-bottom: 0;
}

.adminMenu-unitListBtnContainer > .adminMenu-unitListModify,
.adminMenu-unitListBtnContainer > .adminMenu-unitListSelect{
	width: 55px!important;
    height: 33px!important;
    margin: 0 3px;
    font-size: 15px;
}

/* 삭제 / 목록 추가 버튼 */
.adminMenu-footerBtnContainer > .adminMenu-unitDel,
.adminMenu-footerBtnContainer > .adminMenu-unitAdd{
	width: 120px!important;
    height: 33px!important;
    margin: 0 3px;
    font-size: 15px;
}

/* 버튼 색상 */
.adminMenu-unitListBtnContainer > .adminMenu-unitListSelect,
.adminMenu-footerBtnContainer > .adminMenu-unitAdd {
	background-color: white;
    color: #1cc88a;
}

.adminMenu-footerBtnContainer > .adminMenu-unitDel,
.adminMenu-unitListBtnContainer > .adminMenu-unitListModify {
	background-color: white;
    color: #858796;
}