@charset "UTF-8";
/* 추가 구성 리스트 모달 */
/* / 모달 전체 / */
#unitListModal-content {
	width: 655px;
    border: none;
    font-size: 15px;
}

/* / 모달 헤더 / */
#unitListModal-header,
#unitManagerModal-header {
    min-height: 50px;
    border: none;
    text-align: center;
    background-color: #1cc88a;
}

/* 헤더 클로즈 버튼 */
.unitListModal-close,
.unitManagerModal-close {
	color: white;
	font-size: 20px;
	text-align: right;
    margin-top: 3px;
}

/* / 모달 제목의 폰트 / */
#unitListModal-title,
#unitManagerModal-title {
    color: white;
    font-size: 17px;
	font-weight: bold;
}

/* 모달 바디 */
#unitListModal-body {
	min-height: 200px;
	padding: 40px;
	text-align: center;
}

/* 리스트 테이블 */
/* 테이블 선 */
.unitListModal-unitList > table, td, th {
	border: 1px solid lightgray;
    padding: 5px 10px!important;
}

/* 테이블 및 셀 크기 */
.unitListModal-unitList {
	width: 100%;
}

.unitListModal-unitList > thead > th {
	padding: 0!important;
}

.unitListModal-unitList > thead > tr > th:first-child {
	width: 10%!important;
}

.unitListModal-unitList > thead > tr > th:nth-child(2) {
	width: 18%!important;
}

.unitListModal-unitList > thead > tr > th:nth-child(3) {
	width: 45%!important;
}

.unitListModal-unitList > thead > tr > th:last-child {
	width: 26%!important;
}

.unitListModal-unitList > tbody > tr > td:nth-child(3) {
	text-align: left!important;
}

/* / 모달 푸터 / */
#unitListModal-footer {
    position: relative;
    
    height: 75px;
    padding: 0px;
	border: none;
    text-align: center;
}

/* 수정/적용 버튼 */
.adminMenu-unitListBtnContainer, .adminMenu-footerBtnContainer {
	width: 100%;
    text-align: center;
    margin: auto;
}

.adminMenu-unitListBtnContainer > .adminMenu-unitListModify,
.adminMenu-unitListBtnContainer > .adminMenu-unitListSelect{
	width: 55px!important;
    height: 33px!important;
    margin: 0 3px;
    font-size: 15px;
}

/* 삭제 / 목록 추가 버튼 */
.adminMenu-footerBtnContainer > .adminMenu-unitDel,
.adminMenu-footerBtnContainer > .adminMenu-unitAdd{
	width: 120px!important;
    height: 33px!important;
    margin: 0 3px;
    font-size: 15px;
}

/* 버튼 색상 */
.adminMenu-unitListBtnContainer > .adminMenu-unitListSelect,
.adminMenu-footerBtnContainer > .adminMenu-unitAdd {
	background-color: white;
    color: #1cc88a;
}

.adminMenu-footerBtnContainer > .adminMenu-unitDel,
.adminMenu-unitListBtnContainer > .adminMenu-unitListModify {
	background-color: white;
    color: #858796;
}

/* 푸터 버튼 정렬 */
.adminMenu-footerBtnContainer {
    position: absolute;
    top: 0;
}


/* 구성 추가/수정 모달 */
/* / 모달 전체 / */
#unitManagerModal-content {
	width: 800px;
    border: none;
    font-size: 15px;
    box-shadow: 0px 0px 7px grey;
}

/* 모달 바디 */
#unitManagerModal-body {
	min-height: 200px;
	padding: 40px;
	text-align: center;
}

/* 구성 이름 */
#unitManagerModal-body > div > p, input{
	display: inline-block;
}


/* / 모달 푸터 / */
#unitManagerModal-footer {
    position: relative;
    
    height: 75px;
    padding: 0px;
	border: none;
    text-align: center;
}