@charset "UTF-8";

@import
url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
	font-family: 'Source Sans Pro', sans-serif;
}

/* adminCate 툴팁 */

.adminCate-tooltip {
	position: absolute;
	top: 3.8%;
	right: 1%;
	transform: translate(-50%, -50%);
}

.adminCate-tooltip i {
	
	color: #1cc88a;
	font-size: 25px;
}

.adminCate-tooltip:hover .tooltip-text {
	opacity: 1;
}

.tooltip-text {
	opacity: 0;
	transition: 0.3s;
	background-color: rgba(0,0,0,0.6);
	color: white;
	font-size:16px;
	display:table-cell;
	padding: 15px 20px;
	text-align: center;
	border-radius: 5px;
	width: 230px;
	height: 80px;
	position: absolute;
	top: -50px;
	right: 30px;
}





/* adminToping 툴팁 */

.adminCate-tooltip-topping {
	position: absolute;
	top: 5%;
	right: 1%;
	transform: translate(-50%, -50%);
}

.adminCate-tooltip-topping i {
	
	color: #1cc88a;
	font-size: 25px;
}

.adminCate-tooltip-topping:hover .tooltip-text {
	opacity: 1;
}