@charset "UTF-8";

.manuInfo-menuInfoTitle {
	position: relative;
	
	height: 50px;
	background-color: #f7f7fa;
	border-radius: 5px 5px 0 0;
	border-bottom: solid 1px #e9eaec;
	color: #1CC88A;
	font-size: 18px;
}

.manuInfo-menuInfoTitle > span {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}
	
.manuInfo-menuInfoContent {
	min-height: 350px;
	background-color: white;
	border-radius: 0 0 5px 5px;
}

.manuInfo-contentContainer {
    box-shadow: 1px 1px 25px 5px #dfe0e5;
	border-radius: 5px;
}

.menuInfo-menuImg {
	width: 200px;
	height: 200px;
	margin: 15px 0 15px 0;
}