@charset "UTF-8";

.manuCate-menuCateContent {
    height: 580px!important;
}

.admin-cate-table tbody tr td:last-child {
	width: 120px;
	text-align: center;
}

.adminCate-title{
	position: absolute;
	z-index: 2;
}

#admin-cate-insertImg{
	margin-right: 10px;
}

#admin-cate-insertImg > *{
	display: inline-block;
}

#cate-menuImgInput{
	display: none;
}