/* 공통 모달 값 초기화 */
#surveyModal > div:last-child{
	width: 960px;
}

#serveyContent{
	width: auto;
	min-height: 0;
	border: 0;
	border-radius: 30px;
	box-shadow: none;
	background-color: transparent;
}

#serveyBody{
	min-height: 0;
	padding: 0;
	text-align: left;
	height: auto;
	font-size: 0;
}

.serveyImgContainer{
	display: inline-block;
	filter: brightness(50%); 
}

#serveyHeader{
	border: none;
	padding: 0;
	min-height: 0;
	background-color: wheat;
	border-radius: 18px;
}

.serveyHidden{
	display: none;
}

.serveyActive{
	display: inline;
}

.serveryText{
	display:block;
	width:480px;
	font-size: 30px;
	text-align: center;
	padding: 10px 0;
	background-color: white;
}

.serveyImgContainer:nth-child(1) > img{
	border-top-left-radius: 30px;
}

.serveyImgContainer:nth-child(1) > .serveryText{
	border-bottom-left-radius: 30px;
}

.serveyImgContainer:nth-child(2) > img{
	border-top-right-radius: 30px;
}

.serveyImgContainer:nth-child(2) > .serveryText{
	border-bottom-right-radius: 30px;
}