/* 공통 모달 값 초기화 */
#serveyContent{
	width: auto;
	min-height: 0;
}

#serveyBody{
	min-height: 0;
	padding: 20px;
	text-align: left;
	height: auto;
}

#serveyfooter{
	padding: 15px;
	text-align: right;
	border-top: 1px solid #e5e5e5;
	height: auto;
}

#shareModalCompleated{
	width: auto;
	height: auto;
	font-size: 14px;
	font-weight: normal;
}



.shareContent{
	margin-bottom: 20px;
}
.shareContent > *{
	display: inline-block;
}

.shareContent > p{
	width: 60px;
	margin-right: 25px;
	text-align: center;
}

.shareContent:last-child > p {
	display: block;
	text-align:left;
	width: 100%;
	margin-bottom: 20px;
}

.shareContent:last-child > div{
	display: block;
	text-align: center;
}

.ShareDropdown{
	width: 140px;
}

.ShareDropdown > div{
	position: relative;
}

.ShareDropdown > div > p{
	display: inline-block;
	margin-bottom: 0;
}

.ShareDropdown > div > span{
	position: absolute;
	right: 0;
	top: 50%;
	transform : translateY(-50%);
}

.sharePhoneNumber{
	width: 75px;
}

.shareContent input[type="radio"]{
	margin: 0 20px 0 5px !important;
}

#shareModalCompleated{
	color: white;
	background-color: #1CC88A;
}