<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="assets/css/reset.css">
    <link rel="stylesheet" href="assets/css/main.css">
  </head>
  <body>
    <div id="kfc">
      <header>
        <h1><a href="#">KFC</a></h1>
        <nav class="spot">
          <ul>
            <li>HOME</li>
            <li>사용안내</li>
            <li>영양정보</li>
            <li>language</li>
          </ul>
        </nav>
      </header>

      <section id="categorySection">
        <nav id="category">
          <ul>
            <li class="categoryColorRed"><div class="categoryImg"></div><p>매장행사</p></li>
            <li class="categoryColorRed"><div class="categoryImg"></div><p>신메뉴</p></li>
            <li class="categoryColorWhite"><div class="categoryImg"></div><p>치킨</p></li>
            <li class="categoryColorWhite"><div class="categoryImg"></div><p>버거/세트/박스</p></li>
            <li class="categoryColorWhite"><div class="categoryImg"></div><p>사이드</p></li>
            <li class="categoryColorWhite"><div class="categoryImg"></div><p>음료</p></li>
          </ul>
        </nav>
      </section>
      <section class="menuSection">
        <nav>
          <ul>
            <li class="menu">
              <div class="menuImg"></div>
              <div class="menuContent">
                <p>징거버거</p>
                <p>5600원</p>
              </div>
            </li>
            <li class="menu">
              <div class="menuImg"></div>
              <div class="menuContent">
                <p>징거버거</p>
                <p>5600원</p>
              </div>
            </li>
            <li class="menu">
              <div class="menuImg"></div>
              <div class="menuContent">
                <p>징거버거</p>
                <p>5600원</p>
              </div>
            </li>
            <li class="menu">
              <div class="menuImg"></div>
              <div class="menuContent">
                <p>징거버거</p>
                <p>5600원</p>
              </div>
            </li>
            <li class="menu">
              <div class="menuImg"></div>
              <div class="menuContent">
                <p>징거버거</p>
                <p>5600원</p>
              </div>
            </li>
          </ul>
        </nav>
      </section>

    </div>

  </body>
</html>
